/* 导航 */
/* * {
    padding: 0 !important;
    margin: 0 !important;
} */

* {
    font-family:  PingFangSC-Regular, PingFang SC !important;
}

.cxd-Layout--headerFixed {
    padding-top: 0 !important;
}
.cxd-Layout-header {
    height: auto !important;
}
/* .cxd-Layout--headerFixed .cxd-Layout-header {
    position: relative !important;
} */
/* 设置 body 上边距为 72px */
.cxd-Layout-body {
    margin-top: 72px !important;
}

.sl-nav .cxd-Nav-list--tabs .cxd-Nav-item > a {
    border: none !important;
    font-size: "16px" !important;
    font-weight: 600 !important;
    color: "#f00" !important;
}

.sl-nav{
    border-bottom: none !important;
}

.cxd-Nav .cxd-Nav-list--tabs .cxd-Nav-item.active > a, 
.cxd-Nav .cxd-Nav-list--tabs .cxd-Nav-item.is-active > a {
    border: none !important;
    border-bottom: 6px solid #025DAD !important;
}

.cxd-Nav .cxd-Nav-list--tabs .cxd-Nav-item:hover > a, 
.cxd-Nav .cxd-Nav-list--tabs .cxd-Nav-item > a:focus {
    border: 1px solid #fff !important;
    color: #025DAD !important;
}

.sl-nav {
    ul {
        padding: 0 !important;
        margin: 0 !important;
    }
    li {
        padding: 0 !important;
        margin: 0 !important;
        vertical-align: bottom;
    }
    a {
        padding: 0 23px !important;
        margin: 0 !important;
        height: 72px;
        display: block;
        line-height: 72px;
        font-size: 16px;
        // color: "#333";
        color: "#ff0" !important;
        font-weight: 600;
        padding: "0 23px";
        width: 40;
    }
    a:hover {
        padding: 0 23px !important;
        margin: 0 !important;
        height: 72px;
        display: block;
        line-height: 72px;
        font-size: 16px;
        color: "#025DAD" !important;
        font-weight: 600;
        padding: "0 23px";
        width: 40;
    }
}

button.cxd-Button.cxd-Button--link.cxd-Button--size-default.home-active.nav-title span{
    color: #025DAD !important;
}
.nav-container .nav-title > button {
    font-size: 16px;
    font-weight: 600;
    color: #333 !important;
    padding: 12px 22px !important;
}

.nav-container .nav-active > button {
    color: #025DAD !important;
}

.nav-container .cxd-DropDown-button {
    width: 200px;
    height: 40px;
    padding: 9.5px 0 9.5px 16px;
    font-size: 14px;
    color: #333;
    font-weight: 400;
}

.nav-container .cxd-DropDown-button:hover {
   /*  width: 200px;
    height: 40px;
    padding-left: 16px;
    font-size: 14px;
    color: #333;
    font-weight: 400; */
    background-color: #C4E3FF;
    font-weight: 500;
    color: #333;;
}

// 首页轮播图
.carousel-wrapper {
    position: relative;
}

.carousel-wrapper .icon-left-arrow {
    display: none !important;
}

.carousel-wrapper .icon-right-arrow {
    display: none !important;
}

.carousel-wrapper  img {
    display: block;
}

.carousel-wrapper .left-arrow {
    position: absolute;
    top: 48%;
    left: 20px;
    margin-top: -28px;
    visibility: hidden;
}

.carousel-wrapper .right-arrow {
    position: absolute;
    top: 48%;
    right: 20px;
    margin-top: -28px;
    visibility: hidden;
}

.carousel-wrapper:hover .right-arrow {
    visibility: visible;
}

.carousel-wrapper:hover .left-arrow {
    visibility: visible;
}

// 首页图片左右轮播切换
.slider-wrapper {
    width: 100%;
    height: 240px;
    overflow: hidden;
    a {
        margin-right: 26px;
    }
}

// 图片左右移动，左侧向左图标
/* .slider-left-arrow img.cxd-Image-image {
    width: 36px !important;
    height: 36px !important;
    position: "absolute";
    left: "-60px";
    top: "236px";
} */

// 关于我们
.about-us-wrapper {
    padding: "80px 40px"
}

// 技术与服
.sl-image-container .cxd-Image-title{
    background: #fff;
    width: 300px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: #333;
    font-size: 16px;
}

.sl-news-image-container .cxd-Image-title{
    background: #F9F9F9;
    width: 400px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: #333;
    font-size: 16px;
}

/* .sl-about-image-container .cxd-Image-title{
    width: 280px !important;
}
 */
.sl-news-image-container .cxd-Image.cxd-Image--thumb {
    padding: 0 !important; 
    border: 1px solid #E5E5E5;
}

.cxd-Image--thumb {
    padding: 0 !important;
}

button.cxd-Button.cxd-Button--default.cxd-Button--size-default.sl-more-btn {
    float: right;
    background: #fff;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.3);
    border-radius: 24px;
    padding: 0 30px 0 42px;
    color: #005BAC;
    font-size: 20px;
    height: 48px;
    border: 1px solid #005BAC;
}

/* 底部导航 */
.sl-bottom-nav span.cxd-TplField {
    width: 144px;
}

/* .sl-bottom-nav span.cxd-TplField a {
    color: #fff;
} */

.sl-bottom-nav button {
    padding: 0 !important;
    color: #fff;
    width: 144px;
    justify-content: left;
}

.cxd-Layout-footer {
    position: relative !important;
}

/* 关于我们 */
.text-info-wrapper {
    font-size: 14px;
    font-weight: 400;
    color: #414141;
    p {
        text-indent: 28px;
        line-height: 24px;
    }
}

/* 关于我们，荣誉资质 */
.about-img-wrapper {
    .cxd-GridNavItem-content {
        padding: 0 !important;
    }

    .cxd-GridNavItem-image img {
        width: 280px !important;
        height: 192px;
    }

    .cxd-GridNavItem-text {
        background: #F9F9F9;
        width: 100%;
        height: 48px;
        line-height: 48px;
        text-align: center;
        color: #333;
        font-size: 16px;
    }
}

/* 技术与服务 */
.info-wrapper, .admin-aside-wrapper {
    .cxd-Collapse-header {
        font-size: 16px;
        background-color: #F7F8FA !important;
        border-right: none;
        border-bottom: #E9E9EB !important;
    }
    .cxd-Collapse-content {
        padding: 0 !important;
    }
    .cxd-Nav .cxd-Nav-list--stacked .cxd-Nav-item a {
        font-size: 16px;
        height: 54px !important;
        padding-left: 38px !important;
    }
    .cxd-Nav .cxd-Nav-list--stacked .cxd-Nav-item.is-active a {
        color: #025DAD !important;
        font-size: 16px;
        font-weight: 600;
        position: relative;
        background: #FFFFFF !important;
        border-left: 4px solid #025DAD !important;
        padding-left: 38px !important;
    }
}

// 人才招聘
.employ-wrapper {
    .employ-title {
        font-size: 16px;
        font-weight: 500;
        color: #333;
        /* p {
            margin: 6px !important;
        } */
    }
    
    .employ-content {
        font-size: 14px;
        font-weight: 400;
        color: #333;
        p {
            margin: 3px !important;
        }
    }
    .cxd-Collapse-content {
        padding-top: 0 !important;
    }
}

/* 联系我们留言面板 */
.contact-comment-wrapper {
    padding: 16px 28px 30px 28px !important;
    margin-top: "24px" !important;
    text-align: center !important;
    .cxd-Form-label {
        padding: 0 !important;
    }
    input {
        height: 60px !important;
        margin-bottom: 0px;
    } 
}

/* 信息页面 */
.info-detail-wrapper {
    padding: 24px 160px 24px 30px !important;
    width: 100%;
    height: 100%;
    .info-title {
        span {
            display: block !important;
            text-align: center !important;
        }
    }
}

/* 在线留言弹窗 */
.message-wrapper {
    position: fixed !important;
    right: 38px !important;
    bottom: 38px !important;
    background: #FFFFFF;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.3);
    border-radius: 12px;
    background-color: #fff;
    cursor: pointer;
    z-index: 5;
    .message-title {
        width: 240px !important;
        height: 50px !important;
        line-height: 50px !important;
        background: #005BAC !important;
        display: block !important;
        font-weight: 600;
        color: #FFFFFF;
        font-size: 16px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        padding-left: 16px;
    }
}
.message-title-small {
    position: fixed !important;
    right: 38px !important;
    bottom: 38px !important;
    width: 240px;
    height: 50px;
    background: #005BAC;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.3);
    border-radius: 12px;
    color: #FFFFFF;
    font-size: 16px;
    padding-left: 16px;
    place-content: left !important;
}

/* 后台管理样式 */
.admin-aside-wrapper {
    min-width: 400px !important;
}

